:root {
  --mainBg: rgb(178, 203, 254);
}
* {
  box-sizing: border-box;
}

body {
  background: var(--mainBg) !important;
}
.main {
  min-height: 80vh;
}

.navbar-brand {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--mainBg);

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-brand i {
  font-size: 2rem;
}
.navbar-brand a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.6rem;
}

.use-layout {
  display: flex;
}

.left {
  color: white;
  min-width: 200px;
  position: fixed;
  height: 100%;
}

.right {
  background: white;
  width: 100%;
  margin-left: 200px;
}

.sidbar li {
  list-style: none;
  line-height: 3rem;
}

.table {
  text-align: left;
}
