:root {
  --mainBg: rgb(136, 173, 245);
}

body {
  background: var(--mainBg) !important;
}
.main {
  min-height: 80vh;
}

.navbar-brand {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--mainBg);

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-brand i {
  font-size: 2rem;
}
.navbar-brand a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.6rem;
}

.use-layout {
  display: flex;
}

.left {
  color: rgb(253, 253, 253);
  /* width: 30%; */
  min-width: 200px;
  position: fixed;
  height: 100%;
}

.right {
  background: white;
  width: calc(100% - 200px);
  margin-left: auto;
}

.sidbar li {
  list-style-type: none;
  line-height: 3.5rem;
}

table {
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  background-color: #696565;
  padding: 20px;
  text-align: center;
}
